<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  
  <link rel="stylesheet" href="../css/thanks.css">
 

  <title></title>



</head>

<body onLoad="redireccionar()">

  <div class="container-fluid">
      <div class="row text-center">
          <div class="col-12">
              <div class="thanks">
                <h1>Mensaje enviado</h1>
                <h2>¡Gracias!</h2>
              </div>
          </div>
      </div>
  </div>

  
<!-- redirection -->
  <script src="../js/redirection.js"></script>
 

</body>

</html>